/*
    to-do

    1. hover grey effect on magnifier and setting from header
    2. check the align of space and cosmos with the icons
*/

/* * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #000;
} */

/* HEADER SESSION */
.body {
}

.header {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: aqua;
  border-bottom: 0.3px solid lightgray;
}

.header-left-content {
  width: 75px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 10px;
}

.header-settings {
  width: 8%;
  height: 8%;
}

.header-magnifier {
  width: 8%;
  height: 8%;
}

.header-title {
}

.header-title a {
  color: #333;
  font-size: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.header-center {
  width: 15%;
  height: 60%;
  margin-top: 3px;
}

.header-right-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 105px;
}

.header-subscribe-btn {
  width: 50px;
  height: 15px;
  background: #567b95;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 3.5px;
  font-weight: bold;
}

.header-user-btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-user-btn {
  width: 50px;
  height: 15px;
  background: #fff;
  color: #000;
  border-radius: 2px;
  font-size: 4.5px;
  font-weight: bold;
}

.header-user-btn-arrow {
  width: 4px;
  height: 4px;
  padding-top: 2px;
  margin-left: 3px;
}

.header-icon {
  fill: #333;
  width: 100%;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-title {
  align-self: center;
  margin-right: 120px;
  font-family: "Nanum Gothic", sans-serif;
}

.alan-guth {
  align-self: center;
}

.alan-guth-img {
  width: 950px;
  height: 500px;
}

.alan-guth-description {
  font-size: 0.7rem;
  font-family: "Nanum Gothic", sans-serif;
  width: 750px;
  line-height: 1.5;
}

.share-links {
  align-self: center;
}

.author-link {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
}

.article-date {
  font-size: 0.8rem;
}

.date-and-social {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.social-buttons {
  margin-right: 10px;
  color: black;
}

.top-text {
  width: 500px;
  align-self: center;
  font-family: "Nanum Gothic", sans-serif;
  line-height: 1.5;
}

.top-middle {
  width: 70px;
}

.top-top6 {
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-top6-child {
  width: 500px;
}

aside {
    margin-left: 50px;
}

.img1 {
  width: 80px;
  height: 80px;
}
