body {
  margin: 0
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid lightgrey;
  border-top: 0.5px solid lightgrey;
  margin-top: 0;
  height: 35px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  width: 170px;
  font-size: 0.7rem;
  margin-left: 12px;
  font-weight: 700;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin-right: 12px;
}

.nav-right-button {
  font-weight: bold;
  font-size: 0.6rem;
  width: 100px;
  height: 30px;
  background-color: #567b95;
  color: white;
  border: 0;
  border-radius: 3px;
}

.nyt-logo {
  display: block;
  width: 55%;
  margin: 0 auto;
}

.main-title-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  margin-right: 150px;
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.7rem;
}

.alan-guth-image {
  width: 950px;
  height: 500px;
}

.alan-guth-figcaption {
  font-size: 0.8rem;
  line-height: 1rem;
  color: #666;
  margin-top: 5px;
}

.rick-friedman {
  font-size: 0.6rem;
}

.social-links-top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-social-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.author-container {
  width: 600px;
  margin-bottom: 10px;
}

.author-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
}

.publish-date {
  font-size: 0.8rem;
}

.social-links-top {
  margin-right: 10px;
  color: black;
}

.article-part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-part1 p {
  width: 600px;
  margin-bottom: 0.1rem;
  font-size: 1.25rem;
  line-height: 1.4;
}